@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Ubuntu+Sans&display=swap');

/* commen start  */
/* common end  */
 body{
    margin: 0 ;
    padding: 0 ;
 }
/* header start  */

header{
    padding: 30px 0;
    /* border: 1px solid; */
}
.container{
    margin: 0 auto;
    width: 90%;
    /* border: 1px solid; */
    overflow: hidden;
}
.logo{
    width: 10%;
    margin: 10px 0;
    float: left;
    /* border: 1px solid; */
}
.logo a img{
    width: 100%;
}
.menu{
    /* border: 1px solid; */
    width: 60%;
    float: right;
}
.menu ul{
    float: right;

   
}
.menu ul li{
    
    float: left;
    list-style: none;
}
.menu ul li a{
    display: inline-block;
    margin: 0 55px;
    font-family: "Playfair Display", serif;
    font-size: 16px;
    font-weight: 400;
    color: #626262;
    text-transform: uppercase;
    text-decoration: none;
    border-bottom: 1px solid transparent;
    transition: .333s;
}
.menu ul li:last-child  a{
    margin-right: 0;

}

.menu ul li a:hover{
    border-bottom: 1px solid #000000;
}

/* header end  */